<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.3.0/dist/css/tom-select.css">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.0/dist/js/tom-select.complete.min.js"></script>

    <link th:href="@{/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/nav/Slidebar :: slidebar}"></div>

<div class="fixed top-4 right-4 z-50">
    <div th:replace="~{fragments/alert/succes :: SuccessAlert}"></div>
</div>
<div class="fixed top-4 right-4 z-50">
    <div th:replace="~{fragments/alert/error :: ErrorAlert}"></div>
</div>
<div class="ml-12 lg:m-6 lg:px-32">

<div class="bg-white p-8 rounded-lg pt-8" data-task-id="${taskforEdit.id}">
    <h2 class="text-xl font-semibold mb-4">Detalles Tarea <span th:text="${taskforEdit.id}"></span></h2>
    <form class="space-y-4">
        <!-- Nombre -->
        <div>
            <label for="name" class="block text-gray-700">Nombre de la Tarea</label>
            <textarea id="name" name="name"
                      class="w-full p-2 border border-gray-300 rounded resize-none h-16"
                      rows="1" oninput="this.style.height = ''; this.style.height = this.scrollHeight + 'px';"
                      th:text="${taskforEdit.name}"
                      required>
                </textarea>
        </div>

        <div class="flex space-x-4">
            <!-- Primer select: Estado -->
            <div class="w-1/2">
                <label for="status" class="block text-gray-700">Estado</label>
                <select id="status" name="status" class="w-full p-2 border border-gray-300 rounded">
                    <th:block th:each="type : ${kanbanType}">
                        <option th:selected="${taskforEdit.status == type.name}"
                                th:value="${type.name}"
                                th:text="${type.name}">
                        </option>
                    </th:block>
                </select>
            </div>

            <!-- Segundo input: Proyecto -->
            <div class="w-1/2">
                <label for="proyect" class="block text-gray-700">Proyecto</label>
                <input type="text" id="proyect" name="proyect" class="w-full p-2 border border-gray-300 rounded"
                       th:value="${taskforEdit.projectName}" disabled>
            </div>
        </div>

        <div class="flex space-x-4">

            <div class="w-1/2">
                <label for="user" class="block text-gray-700">Responsable</label>
                <select id="user" name="user" multiple class="w-full  rounded-lg bg-gray-50 focus:ring-blue-500 shadow-sm appearance-none"
                        data-tom-select required >
                    <th:block th:each="user : ${users}">
                        <option th:value="${user.id}" th:text="${user.username}"
                                th:selected="${taskforEdit.responsables.contains(user)}"
                        ></option>
                    </th:block>
                </select>
            </div>

            <!-- Segundo input: Horas Estimadas -->
            <div class="w-1/2">
                <label for="horas" class="block text-gray-700">Horas Estimadas</label>
                <input type="number" th:value="${taskforEdit.horas}" id="horas" name="horas" class="w-full p-2 border border-gray-300 rounded" step="any" required>
            </div>
        </div>

        <!-- Descripción -->
        <div>
            <label for="description" class="block text-gray-700">Descripción</label>
            <textarea id="description" name="description" th:text="${taskforEdit.description}" rows="4" class="w-full p-2 border border-gray-300 rounded" ></textarea>
        </div>

        <!-- Botones -->
        <div class="flex justify-end space-x-4">
<!--            <button type="button" id="closeModal" class="px-4 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400">Cancelar</button>-->
            <button type="submit" class=" px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Update</button>
        </div>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        new TomSelect("#user", {
            plugins: ["checkbox_options"],
            hideSelected: false,
            persist: false
        });
    });

    // Obteniendo el ID de la tarea desde el atributo data
    const taskId = document.querySelector('[data-task-id]').dataset.taskId;

    const ModalForm = document.querySelector('form');

    ModalForm.addEventListener('submit', (event) => {
        event.preventDefault();

        // Obtener valores de los campos del formulario
        const nameField = document.getElementById('name').value;
        const statusField = document.getElementById('status').value;
        const proyectField = document.getElementById('proyect').value;
        const user = document.getElementById('user').value;
        console.log(user +"lista user")
        const responsableField = Array.from(document.getElementById('user').selectedOptions)
            .map(option => option.value);
        console.log(responsableField +"lista responsables");
        const horasField = document.getElementById('horas').value;
        const descriptionField = document.getElementById('description').value;

        // Validar campos requeridos
        if (!nameField || !statusField || !horasField) {
            alert('Por favor completa todos los campos requeridos.');
            return;
        }

        // Construir el objeto de datos
        const data = {
            name: nameField,
            projectName: proyectField,
            description: descriptionField,
            status: statusField,
            // lastUpdateDate:new Date().toLocaleDateString(),
            responsable: responsableField,
            horas: horasField
        };
        console.log(data);
    if (horasField>0) {
        // Enviar la solicitud POST a la API
        fetch(`/update-task/${[[${taskforEdit.id}]]}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (response.ok) {
                    console.log(response.statusText);
                    location.reload();
                } else {
                    throw new Error('Error al actualizar la tarea.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }else{
        alert("las horas deben  ser mayores a 0");
    }
    });
</script>

</div>
</body>
</html>
