<!DOCTYPE HTML>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.3.0/dist/css/tom-select.css">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.0/dist/js/tom-select.complete.min.js"></script>

  <link th:href="@{/main.css}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
<style>
    .ts-control{
        height: 2.5rem;
    }

</style>
<div th:replace="~{fragments/nav/Slidebar :: slidebar}"></div>

<div class="fixed top-4 right-4 z-50">
    <div th:replace="~{fragments/alert/succes :: SuccessAlert}"></div>
</div>
<div class="fixed top-4 right-4 z-50">
    <div th:replace="~{fragments/alert/error :: ErrorAlert}"></div>
</div>

<div class="m-6 pl-16 lg:px-32">
    <header class="container mx-auto">
      <h1 class="text-3xl lg:text-4xl font-bold lg:p-8">Horas <span th:text="${filtro}"></span></h1>
    </header>


    <div class="rounded-xl">
        <div class="flex justify-between items-center mb-4">
            <div class="flex space-x-2">
            </div>
            <button id="openModal" class="px-4 py-2 text-white bg-blue-500 rounded hover:bg-blue-600 focus:outline-none my-2  text-xs lg:text-lg">
                Agregar Tarea
            </button>

        </div>

        <!-- Date range filter -->

        <form method="get" class="flex flex-wrap items-center gap-4 mb-6">
            <!-- Responsable -->
            <div class="flex flex-col w-full sm:w-auto">
                <label for="responsable" class="text-sm font-medium text-gray-700 dark:text-gray-300">Responsable:</label>
                <select id="responsable" name="responsable"
                        class="block p-2 text-gray-900 border border-gray-300 rounded-lg  focus:ring-blue-500
                        focus:border-blue-500 w-40 lg:w-full  text-xs lg:text-sm">
                        <option >Seleccione un responsable</option>
                    <th:block th:each="user : ${users}">
                        <option th:value="${user.username}" th:text="${user.username}"></option>
                    </th:block>

                </select>
            </div>
            <div class="flex flex-col w-full sm:w-auto">
                <label for="estado" class="text-sm font-medium text-gray-700 dark:text-gray-300">Status:</label>
                <select id="estado" name="estado"
                        class="block p-2 text-gray-900 border border-gray-300 rounded-lg  focus:ring-blue-500
                        focus:border-blue-500 w-40 lg:w-full  text-xs lg:text-sm">
                        <option>Seleccione un estado</option>
                        <option value="Completada" >Completada</option>
                        <option value="pendiente">pendiente</option>
                </select>
            </div>

            <!-- Fecha de inicio -->
            <div class="flex flex-col">
                <label for="startDate" class="text-sm font-medium text-gray-700 dark:text-gray-300">Fecha de inicio:</label>
                <input type="date" id="startDate" name="comienzo"
                       class="block w-full px-4 py-2  border border-gray-300 rounded-lg bg-white
                        focus:ring-blue-500 focus:border-blue-500 text-xs lg:text-sm">
            </div>

            <!-- Fecha de fin -->
            <div class="flex flex-col">
                <label for="endDate" class="text-sm font-medium text-gray-700 dark:text-gray-300">Fecha de fin:</label>
                <input type="date" id="endDate" name="fin"
                       class="block w-full px-4 py-2  border border-gray-300 rounded-lg bg-white
                       focus:ring-blue-500 focus:border-blue-500 text-xs lg:text-sm">
            </div>

            <!-- Botones -->
            <div class="flex items-center gap-2">
                <button type="submit"
                        class="px-4 py-2 text-xs lg:text-sm font-medium text-white bg-green-500 rounded-lg hover:bg-green-600
                        focus:outline-none focus:ring-2 focus:ring-green-400">
                    Filtrar
                </button>
                <button onclick="clearFilters()" type="button"
                        class="px-4 py-2 text-xs lg:text-sm font-medium text-white bg-blue-500 rounded-lg hover:bg-blue-600
                        focus:outline-none focus:ring-2 focus:ring-blue-400">
                    Limpiar Filtro
                </button>
            </div>
        </form>



        <script>
            function clearFilters() {

                let currentUrl = window.location.href;
                let newUrl = currentUrl.split('?responsable')[0];
                window.location.href = newUrl;
            }
        </script>


        <!-- TaskTable fragment below the filter and buttons -->
        <div th:replace="fragments/table :: TaskTable"></div>
    </div>


    <div th:replace="fragments/modal :: taskModal"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        new TomSelect("#user", {
            plugins: ["checkbox_options"],
            hideSelected: false,
            persist: false
        });
    });

  // Referencia al formulario del modal
  const ModalForm = document.getElementById("modal-task");

  ModalForm.addEventListener('submit', (event) => {
    event.preventDefault();

    // Obtener valores de los campos del formulario
      const nameField = document.getElementById('name').value;
      const statusField = document.getElementById('status').value;
      const tipo = document.getElementById('tipo').value;
      const proyectField = document.getElementById('proyect').value;
      const responsableField = document.getElementById('user');
      const selectedValues = Array.from(responsableField.selectedOptions).map(option => option.value); // Obtener IDs de los responsables seleccionados
      // console.log(selectedValues); // Ver los valores seleccionados
      const horasField = document.getElementById('horas').value;
      const descriptionField = document.getElementById('description').value;

    // Construir el objeto de datos
      const data = {
          name: nameField,
          projectName: proyectField,
          description: descriptionField,
          creationDate: Date.now(),
          last_update_date: Date.now(),
          type:tipo,
          status: statusField,
          responsablesIds: selectedValues,
          horas: horasField
      };


      fetch('/api/task', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(data)
      })
          .then(response => response.ok ? location.reload() : Promise.reject('Error al guardar la tarea.'))
          .catch(error => alert(error));

  });

  document.addEventListener("DOMContentLoaded", function () {
    // Abrir el modal
    document.getElementById("openModal").addEventListener("click", function () {
      document.getElementById("taskModal").classList.remove("hidden");
    });

    // Cerrar el modal
    document.getElementById("closeModal").addEventListener("click", function () {
      document.getElementById("taskModal").classList.add("hidden");
    });
  });
</script>
</div>
</body>
</html>