<!DOCTYPE HTML>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link th:href="@{/main.css}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>

<div th:replace="fragments/nav/Slidebar :: slidebar"></div>

<div class="fixed top-4 right-4 z-50">
  <div th:replace="fragments/alert/succes :: SuccessAlert"></div>
</div>
<div class="fixed top-4 right-4 z-50">
  <div th:replace="fragments/alert/error :: ErrorAlert"></div>
</div>


<div class="m-6 px-32">
  <button id="openModal" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded mb-4">
    Agregar proyecto
  </button>
  <a href="/proyectos/all" class="bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded mb-4">
    Todas las Task
  </a>


  <div th:replace="fragments/modals/modalProyect  ::  modalAddProyect"></div>

  <script>
    const ModalForm = document.getElementById("modalForm");

    ModalForm.addEventListener('submit', (event) => {
      event.preventDefault();
      const nameField = document.getElementById("name").value;
      const data={
        name: nameField
      }

      fetch('/api/proyect/add', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
              .then(response=>{
                window.location.reload();
              })

    });

    const openModalButton = document.getElementById('openModal');
    const modal = document.getElementById('modal');
    const cancelButton = document.getElementById('cancelButton');
    const modalForm = document.getElementById('modalForm');

    openModalButton.addEventListener('click', () => {
      modal.classList.remove('hidden');
    });

    cancelButton.addEventListener('click', () => {
      modal.classList.add('hidden');
    });

    modalForm.addEventListener('submit', (event) => {
      event.preventDefault();
      const name = document.getElementById('name').value;
      alert(`Nombre guardado: ${name}`);
      modal.classList.add('hidden');
    });
  </script>

  <div th:replace="fragments/targetProyect :: target"></div>

</div>



</body>

</html>