<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link th:href="@{/main.css}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>

<div th:replace="~{fragments/nav/Slidebar :: slidebar}"></div>

<div class="fixed top-4 right-4 z-50">
  <div th:replace="~{fragments/alert/succes :: SuccessAlert}"></div>
</div>
<div class="fixed top-4 right-4 z-50">
  <div th:replace="~{fragments/alert/error :: ErrorAlert}"></div>
</div>

<div class="m-6 pl-16 pt-16 pb-16 lg:px-32">

  <div class="w-24">
    <h1 class="text-4xl font-bold p-8">Report</h1>
  </div>

  <form id="FormReport" class="space-y-6">
    <!-- Contenedor principal para los elementos en horizontal -->
    <div class="flex flex-col lg:flex-row lg:items-end lg:space-x-4 space-y-4 lg:space-y-0">
      <!-- Select Proyecto -->
      <div class="flex-1">
        <label for="userId" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Seleccione un Proyecto</label>
        <select id="userId" name="userId" class="mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option value="all">Todos los proyectos</option>
          <th:block th:each="proyect : ${proyects}">
            <option th:value="${proyect.name}" th:text="${proyect.name}"></option>
          </th:block>
        </select>
      </div>

      <!-- Fecha de inicio -->
      <div class="flex-1">
        <label for="startDate" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Fecha de inicio:</label>
        <input type="date" id="startDate" name="startDate"
               class="mt-2 block w-full px-4 py-2 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500 text-xs lg:text-sm">
      </div>

      <div class="flex-1">
        <label for="endDate" class="block text-sm font-medium text-gray-700 dark:text-gray-300">Fecha de fin:</label>
        <input type="date" id="endDate" name="endDate"
               class="mt-2 block w-full px-4 py-2 border border-gray-300 rounded-lg bg-white focus:ring-blue-500 focus:border-blue-500 text-xs lg:text-sm">
      </div>

    </div>

    <!-- Botón de descargar informe -->
    <div class="flex justify-end">
      <button type="submit" class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
        Descargar informe
      </button>
    </div>
  </form>
  <script>
    // Capturar el formulario por su ID
    const form = document.getElementById('FormReport');


    form.addEventListener('submit', function (event) {

      event.preventDefault();


      const userId = document.getElementById('userId').value;
      const startDate = document.getElementById('startDate').value;
      const endDate = document.getElementById('endDate').value;


      console.log('Proyecto seleccionado:', userId);
      console.log('Fecha de inicio:', startDate);
      console.log('Fecha de fin:', endDate);

      const url = 'proyectos/download/excel/' + userId + '?comienzo=' + startDate + '&fin=' + endDate;

      // Si deseas abrir en una nueva pestaña, usa window.open:
      window.open(url, '_blank');
    });
  </script>



</div>

</body>

</html>
