<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tom-select@2.3.0/dist/css/tom-select.css">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.0/dist/js/tom-select.complete.min.js"></script>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/nav/Slidebar :: slidebar}"></div>

<!-- Alertas -->
<div class="fixed top-4 right-4 z-50">
    <div th:replace="~{fragments/alert/succes :: SuccessAlert}"></div>
    <div th:replace="~{fragments/alert/error :: ErrorAlert}"></div>
</div>

<!-- Contenido principal -->
<div class="ml-12 lg:ml-12 lg:m-6 lg:px-32">
    <div class="bg-white p-4 lg:p-8 rounded-lg pt-8" th:data-task-id="${taskforEdit.id}">
        <h2 class="text-xl font-semibold mb-4">Detalles Tarea <span th:text="${taskforEdit.projectName}"></span></h2>
        <form class="space-y-4">
            <!-- Nombre de la Tarea -->
            <div>
                <div class="flex flex-col lg:flex-row lg:space-x-4">
                    <div class="w-full lg:w-1/2">
                        <label for="name" class="block text-gray-700">Nombre de la Tarea</label>
                        <input type="text" id="name" name="name" class="w-full text-sm font-semibold p-2 border border-gray-300 rounded" th:value="${taskforEdit.name}" required />
                        <div>
                            <label for="description" class="block text-gray-700">Descripción</label>
                            <textarea id="description" name="description" th:text="${taskforEdit.description}" rows="4" class="w-full text-sm p-2 border border-gray-300 rounded"></textarea>
                        </div>

                        <label for="user" class="block text-gray-700">Responsable</label>
                        <select id="user" name="user" multiple class="w-full rounded-lg bg-gray-50 focus:ring-blue-500 shadow-sm appearance-none" data-tom-select required>
                            <th:block th:each="user : ${users}">
                                <option th:value="${user.id}" th:text="${user.username}" th:selected="${taskforEdit.responsables.contains(user)}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="w-full lg:w-1/2 mt-4 lg:mt-0">
                        <label for="status" class="block text-gray-700">Estado</label>
                        <select id="status" name="status" class="w-full p-2 border border-gray-300 rounded">
                            <th:block th:each="type : ${kanbanType}">
                                <option th:selected="${taskforEdit.status == type.name}" th:value="${type.name}" th:text="${type.name}"></option>
                            </th:block>
                        </select>

                        <label for="proyect" class="block text-gray-700">Proyecto</label>
                        <input type="text" id="proyect" name="proyect" class="w-full p-2 border border-gray-300 rounded" th:value="${taskforEdit.projectName}" disabled>

                        <label for="horas" class="block text-gray-700">Horas Estimadas</label>
                        <input type="number" th:value="${totalHoras}" id="horas" name="horas" class="w-full p-2 border border-gray-300 rounded" step="any" required disabled>
                        <div class="flex justify-end space-x-4 mt-6">
                            <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- mostrar las subteareas -->
        <div class="flex items-start space-x-4 rounded-md max-h-40 overflow-auto p-4">
            <!-- Línea izquierda -->
            <div class="w-1 rounded bg-green-500"></div>

            <!-- Contenido -->
            <div>
                <div th:each="subtask : ${taskforEdit.getTaskLines()}" class="pb-2">
                    <h3 class="text-sm font-semibold text-gray-900" th:text="${subtask.description}">Commit message</h3>
                    <span class="text-xs text-gray-500" th:text="${subtask.getHours()}">2.0 horas</span>
                </div>
            </div>
        </div>
        <!-- Agregar subtarea -->
        <th:block th:if="${taskforEdit.status!='Completada'}">
            <div class="flex flex-col lg:flex-row space-x-4">
                <form class="w-full pt-2" id="subtareaForm">
                    <!-- Título fuera del contenedor de inputs -->
                    <h2 class="text-lg font-semibold mb-2">Agregar subtarea</h2>

                    <div class="w-full flex flex-col lg:flex-row justify-between gap-2 items-center">
                        <!-- Campo de texto para la subtarea -->
                        <input type="text" id="subtarea" class="w-full lg:w-5/6 p-2 border border-gray-300" placeholder="Nombre Subtarea"/>
                        <!-- Campo de horas -->
                        <input type="number" id="horaSubtare" placeholder="Horas" aria-describedby="helper-text-explanation" class="w-full lg:w-1/6 p-2 border border-gray-300 rounded" step="any" required/>
                        <button type="submit" class="w-full lg:w-auto px-4 py-2 bg-blue-500 text-white rounded">
                            Agregar
                        </button>
                    </div>
                </form>
            </div>
        </th:block>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        new TomSelect("#user", {
            plugins: ["checkbox_options"],
            hideSelected: false,
            persist: false
        });

        const taskElement = document.querySelector('[data-task-id]');
        const taskId = taskElement ? taskElement.dataset.taskId : null;
        const modalForm = document.querySelector('form');

        modalForm.addEventListener('submit', async (event) => {
            event.preventDefault();
            const nameField = document.getElementById('name').value.trim();
            const statusField = document.getElementById('status').value;
            const proyectField = document.getElementById('proyect').value;
            const responsableField = Array.from(document.getElementById('user').selectedOptions).map(option => option.value);
            const descriptionField = document.getElementById('description').value.trim();

            const data = {
                name: nameField,
                projectName: proyectField,
                description: descriptionField,
                status: statusField,
                responsable: responsableField,
            };

            if (confirm('¿Estás seguro de que deseas actualizar la tarea?')) {
                try {
                    const response = await fetch(`/update-task/${taskId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    });
                    if (response.ok) {
                        location.reload();
                    } else {
                        throw new Error('Error al actualizar la tarea.');
                    }
                } catch (error) {
                    console.error('Error:', error);
                    alert('Hubo un error al actualizar la tarea. Por favor, inténtalo de nuevo.');
                }
            }
        });

        const subTareaForm = document.getElementById('subtareaForm');
        if (subTareaForm) {
            subTareaForm.addEventListener('submit', async function (event) {
                event.preventDefault();
                const subtarea = subTareaForm.elements['subtarea'].value;
                const horas = subTareaForm.elements['horaSubtare'].value;
                const dataline = {
                    subtarea: subtarea,
                    horas: horas
                };

                try {
                    const response = await fetch(`/add/add-task-line/${taskId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(dataline)
                    });
                    if (!response.ok) {
                        throw new Error('Error en la petición');
                    } else {
                        location.reload();
                    }
                    const result = await response.json();
                    console.log(result);

                } catch (error) {
                    console.error('Error:', error);
                }
            });
        }
    });
</script>

</body>
</html>